body{
    margin: 0px;
    padding: 0px;
    background: #292424;
  background: linear-gradient(90deg, #817c7c 0,#23232a 45%);
}

header{

    background: rgba(255, 255, 255, .7);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
    font-size: 8vh;
    color: black;
    text-align: center;
    margin: 0px;
    height: 10vh;

}

nav{
  background: rgba(255, 255, 255, .7);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
    position: sticky;
    text-align: center;
    font-size: 3vh;
    height: 6vh;
    top: 0px;

}

nav a {
    color: grey;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

nav ul li{
    display: inline;
    margin: 0px;
}

nav ul{
    margin: 0px;
}

main{
    margin: 15px;
    padding: 10px
}

.main_section{
    background-color: silver;
    padding: 10px;
    margin: 15px;
    border-radius: 15px;;
}

.main_section div{
  display: inline-block;
  vertical-align: top; /* Esto alinea los div en la parte superior */
  margin-right: 10px;
  width: 45vw;
  color: black;
  font-size: 18px;
  font-family: Georgia;
}

.mac_img{
  object-fit: cover;
  height: 50vh;
  width: 90vh;
  max-width: 100%;
}

footer{

    background: rgba(255, 255, 255, .7);
    color: black;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}
